

/* Brand Color's */
:root{
    --white:#fff;
    --black:#000;
--header-bg:#eaeaea;
--light-black:#656565;
--yellow: #e26414;
--light-black:#232323;
--gray:#666;
--light:#fafafa;
--background: #3b5999;
}

