.header{
  background-color: var(--header-bg);
  .top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    
  }
  .logo{
    // width: 15%;

    img{
      width: 100%;
    }
  }
  .menu{
    width: 65%;
    margin: auto;
  ul{
      display: flex;
justify-content: space-between;
      align-items: center;
     }
     li{
    padding: 0 30px;
     }
     a{
      font-size: 16px;
      font-weight: 400;
      color: var(--light-black);
      &:hover  {
        color:var(--yellow);
         }
     }

  }


  .header-icon{
    width: 10%;
    ul{
      display: flex;
      align-items: center;
    
    }
    li{
      padding: 0px 20px;
      width: 20px;
    }
  }
  .manu-icon{
    // width: 20%;
    display: none;
    a{
      img{
      width: 100%;
      }
    }
  }
}










@media screen and (max-width:767px) {
  .contenar{
      width: 100%;
      padding:0 15px;
  }
.header{
  .header-icon{
    display: none;
ul{
justify-content: space-between;

  li{

  }
}
  }
  .menu{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 75%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 60%;
    z-index: 99;
    >ul{
    align-items: start;
    flex-direction: column;
    li{
        padding: 20px 30px;
        border-bottom: #b9b9bc solid 2px;
        width: 100%;
    }

    }
  }
  .manu-icon{
    display: block;
    // width: 10%;
    a{
      img{
        width: 100%;
      }
    }
}
}}